../Exemple001_HelloConsole/bin/Debug/net6.0/Exemple001_HelloConsole.dll
../Exemple001_HelloConsole/bin/Debug/net6.0/Exemple001_HelloConsole.pdb
../Exemple001_HelloConsole/obj/Debug/net6.0/Exemple001_HelloConsole.dll
../Exemple001_HelloConsole/obj/Debug/net6.0/Exemple001_HelloConsole.pdb